<h1>Movie Search</h1>

	<form action="/search" method="POST">
		<input type="text" placeholder="Search..." role="search" class="form-control search" name="search_word">
		<button type="submit" class="btn btn-search btn-danger">Bring Me Movies!</button>
	</form>

	<p>*Note: searching through the database may take a few moments.</p>




