

<form action="/search" method="POST" class="form-search col-sm-8 clearfix">
	<input type="text" placeholder="Enter a search or phrase" role="search" class="form-control search" name="search_word">
	<button type="submit" class="btn btn-search btn-danger">Quiz Me!</button>
</form>

<h3>*Note: searching through the database may take a few moments.</h3>




