<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	



<main class="container">
	<%= yield %>
</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/script.js"></script>
</body>
</html>