<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>IMDB Movie Quiz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	


<div class="container">
	<header class="col-sm-10 header">
		<div class="col-sm-8 title">
		<h1>Movie Search Quiz</h1>
		</div>
		<img src="/img/movie_quiz_logo2.png" alt="movie quiz logo">
	</header>
	
	<main>
		<%= yield %>
	</main>

	
</div>


<div class="col-sm-12 footer">
	<p>Copyright 2015</p>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>