
<h3><%= @greeting %></h3>
<h2 class="title" data-year="<%=@year%>">Which one of these movies was released in ?</h2>

<ul class="inline">
	<% @movies.each do |movie| %>
		<li class="inline-movies js-movies col-sm-3" id="js-<%= movie.year %>">
			<img src=<%= movie.poster %>>
		</li>
	<% end %>
</ul>











