

<h2 class="title" data-year="<%=@year%>">Which one of these movies was released in <%=@year%>?</h2>

<ul class="inline">
	<% @movies.each do |movie| %>
		<li class="inline-movies js-movies" id="js-<%= movie.year %>">
			<img src=<%= movie.poster %>>
		</li>
	<% end %>
</ul>






<script type="text/javascript">
	$('.js-movies').on('click', function() {
	  movieYear(this.id);
	});

	var year = $('.title').data('year');

	function movieYear(id) {
		if (id == year) {
			alert("You've Won!");
		} else {
			alert("Boo! You Lost!");
		}
	}
</script>





