
<h2 class="title" data-year="<%=@year%>">
	Which one of these movies was released in <%=@year%>?
</h2>

<ul class="list-inline line">
	<% @movies.each do |movie| %>
		<li class="inline-movies js-movies" id="js-<%= movie.year %>">
			<img src=<%= movie.poster %>>
		</li>
	<% end %>
</ul>











