body {
	background-color: #FCFAE1;
	font-size: 1em;
}
img {
	width: 100%;
}
h1 {
	font-family: 'Fascinate', cursive;
	margin: 40px 0 60px;
	color: #D4171A;
	text-align: center;
	font-size: 3em;
	letter-spacing: 1px;
}
h2 {
	margin: 0 0 30px;
	text-align: center;
}
h3 {
	text-align: center;
}
body, html {
	height: 95%;
}

.btn-search {
	vertical-align: top;
	float: right;
	width: 18%;
	margin-left: 2%;
	box-shadow: 4px 4px 0 #8d2825;
}
.container {
	min-height: 100%;
	position: relative;
	text-align: center;
	margin-top: 3%
}
.inline-movies {
	list-style: none;
	margin: 10px;
	width: 30%;
}
.inline-movies img {
	width: 200px;
	vertical-align: top;
}
.footer {
	background-color: #D4171A;
	height: 40px;
	text-align: center;
	color: #fff;
	padding: 10px 0;
	border-radius: 6px;
	position: relative;
	bottom: 0;
	margin: 0 auto;
	float: none;
}
.footer p {
	margin: 0;
}
.form-search {
	float: none;
	margin: 0 auto 50px;
}
.search {
	width: 80%;
	float: left;
}
.line {
	margin: 0 auto;
	text-align: center;
}
.header {
	float: none;
	margin: 0 auto 50px;
	overflow: auto;
}
.title {
	position: relative;
	top: 50px;
	font-size: 1.5em;
	float: right;
	margin: 0 43px 0 0;
}
.title h1 {
	margin: 0;
}
.header img {
	width: 80%;
}









